table{
    background-color: #880088;
    margin: auto;
}
#result{
    width: 176px;
}
.btn{
    width: 34px;
    height: 32px;
}
#epu{
    width: 34px;
    height: 66px;
}
#rezo{
    width: 72px;
    height: 32px;
}
